@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
.App {
  /* align-items: center; */
  min-height: 100vh;
  /* font-family: 'Work Sans', sans-serif; */

  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
::-webkit-scrollbar {
  width: 8px;
  background-color: rgba(0, 0, 0, 0.014);
}
::-webkit-scrollbar-thumb {
  background-color: #5555556b;
  border-radius: 9999px;
  min-height: 20px;
}
::-webkit-scrollbar-thumb:hover {
  background: #034861;
}
